<table class="table table-stiped">
    <tr>
        <th><%= f.label(:name, "Name:") %></th>
        <td><%= f.text_field(:name) %></td>
    </tr>
    <tr>
        <th><%= f.label(:avatar) %></th>
        <td><%= f.file_field :avatar %></td>
    </tr>
</table>
