<h1>Azuriraj Tim</h1>

<%= form_for(:team, :url => { :action => 'update', :id => @team.id }) do |f| %>
    <%= render :partial => "form", :locals => { :f => f } %>
    <%= submit_tag("Azuriraj") %>
<% end %>
