<h1 align="center">Lista timova</h1>

<table class="table table-striped" >
    <tr>
        <th>Ime ekipe</th>
        <th>Grb</th>
        <th>Liga</th>
        <th> </th>
    </tr>
    
    <!-- Helper metod teams se na nalazi u view/teams/_teams.html.erb -->
    <%= render 'teams/teams', obj: @teams %>
</table>

<%= link_to "Registruj Tim", :action => 'new' %>