<h1 align="center">Lista timova</h1>

<table class="table table-condensed" id = "l_table">
    <tr>
        <th>Ime ekipe</th>
        <th>Grb</th>
    </tr>
    
    <% @teams.each do |team|%>
        <tr>
            <td><%= team.name %></td>
            <td><%=  image_tag team.avatar.url(:thumb), :id => "grb" %></td>
            <td><%= link_to "Statistike tima", :action => 'show', :id => team.id %></td>
        </tr>
    <% end %>
</table>

<%= link_to "Registruj Tim", :action => 'new' %>