<h1 align="center">Lista Liga</h1>



<table class="table table-striped">
    <% @leagues.each do |league|%>
        <tr>
        	<td align="center" id="l_name"><%=link_to league.name, league_path(league) %></td>
        </tr>
    <% end %>
</table>