<h1 align="center"><%= @league.name %></h1>

	
<table class="table table-striped">
	<% @tim_lige.each do |team|%>
		<tr onclick="location.href='<%= team_path(team) %>'">
			<td id="padding"><%= team.name %></td>
			<td><%= image_tag team.avatar.url(:thumb), :id => "grb"%></td>
		</tr>
	<% end %>
</table>
