<h1 align="center">List all Players</h1>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Age</th>
      <th>Height</th>
      <th>Team</th>
      <th></th>
    </tr>

    <!-- Helper metod teams se na nalazi u view/players/_teams_of_player.html.erb -->
    <%= render 'teams_of_player', obj:@players %>
  </table>
  <%= link_to "Add Player", new_player_path %>

