// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#grb
{
    min-height: 45px;
    max-height: 45px;
    min-width: 45px;
    max-width: 45px;
}